<a href="https://colab.research.google.com/github/swaroop116/machine-learning-learn/blob/main/Movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
!pip install opendatasets
import opendatasets as od
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
nltk.download('punkt')
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opendatasets in /usr/local/lib/python3.7/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.6.15)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [85]:
od.download("https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows")

Skipping, found downloaded files in "./imdb-dataset-of-top-1000-movies-and-tv-shows" (use force=True to force download)

In [86]:
df=pd.read_csv("/content/imdb-dataset-of-top-1000-movies-and-tv-shows/imdb_top_1000.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [87]:
df.head()
di=df.dropna()
dj=di['Director']
dj=pd.concat([dj,di['Overview']],axis='columns')
dj

                 Director                                           Overview
0          Frank Darabont  Two imprisoned men bond over a number of years...
1    Francis Ford Coppola  An organized crime dynasty's aging patriarch t...
2       Christopher Nolan  When the menace known as the Joker wreaks havo...
3    Francis Ford Coppola  The early life and career of Vito Corleone in ...
4            Sidney Lumet  A jury holdout attempts to prevent a miscarria...
..                    ...                                                ...
990          Sergio Leone  A low-life bandit and an I.R.A. explosives exp...
991       Brian G. Hutton  A group of U.S. soldiers sneaks across enemy l...
992   Wolfgang Reitherman  Bagheera the Panther and Baloo the Bear have a...
994        Richard Lester  Over two "typical" days in the life of The Bea...
997        Fred Zinnemann  In Hawaii in 1941, a private is cruelly punish...

[714 rows x 2 columns]

In [88]:
df['Overview']

0      Two imprisoned men bond over a number of years...
1      An organized crime dynasty's aging patriarch t...
2      When the menace known as the Joker wreaks havo...
3      The early life and career of Vito Corleone in ...
4      A jury holdout attempts to prevent a miscarria...
                             ...
995    A young New York socialite becomes interested ...
996    Sprawling epic covering the life of a Texas ca...
997    In Hawaii in 1941, a private is cruelly punish...
998    Several survivors of a torpedoed merchant ship...
999    A man in London tries to help a counter-espion...
Name: Overview, Length: 1000, dtype: object

In [89]:
tfidf=TfidfVectorizer(stop_words="english")
a = tfidf.fit_transform(df['Overview'])

In [90]:
a

<1000x5426 sparse matrix of type '<class 'numpy.float64'>'
	with 13511 stored elements in Compressed Sparse Row format>

In [91]:
sent_tokenize(df['description'][0])

KeyError: ignored

In [ ]:
df['tokenized']=df.apply(lambda row: word_tokenize(row['description']),axis=1)

In [ ]:
df['tokenized']

In [ ]:
cos_sim=linear_kernel(a,a)

In [ ]:
ind=pd.Series(df['title'])

In [ ]:
ind

In [ ]:
inf=pd.Series(df.index)

In [92]:
indices=pd.Series(di.index, index=di['Series_Title']).drop_duplicates()

In [93]:
indices

Series_Title
The Shawshank Redemption      0
The Godfather                 1
The Dark Knight               2
The Godfather: Part II        3
12 Angry Men                  4
                           ...
Giù la testa                990
Kelly's Heroes              991
The Jungle Book             992
A Hard Day's Night          994
From Here to Eternity       997
Length: 714, dtype: int64

In [112]:
def movie_recomendations(title, cos_sim=cos_sim):
  idx=indices[title]
  scores=pd.Series(cos_sim[idx]).sort_values(ascending=False)
  topsc=list(scores.iloc[1:11].index)
  for i in topsc:
    print(df['Series_Title'][i])
    print(scores[i])

In [113]:
movie_recomendations('The Godfather')

Knives Out
0.14300782731262116
The Godfather: Part III
0.12205437427927271
Nebraska
0.08954931913688054
The Curious Case of Benjamin Button
0.08618597786958125
Die Welle
0.08443910023619106
Smultronstället
0.08129696310358801
The Wild Bunch
0.08072339764619528
The Night of the Hunter
0.08046052513344704
The Godfather: Part II
0.07716105490979228
The Hobbit: An Unexpected Journey
0.07600657590497886

In [104]:
b=tfidf.fit_transform(dj['Overview'])

In [105]:
cos_sims=cosine_similarity(b,b)

In [106]:
def movie_recomendation(title, cos_sims=cos_sims):
  idx=indices[title]
  scores=pd.Series(cos_sims[idx]).sort_values(ascending=False)
  topsc=list(scores.iloc[1:11].index)
  for i in topsc:
    print(df['Series_Title'][i])
    print(scores[i])

In [107]:
movie_recomendation("The Godfather")

Le notti di Cabiria
0.13629340911258403
La planète sauvage
0.13053131303797624
Les choristes
0.0920771033430525
The Last Picture Show
0.08831820773491682
The Godfather: Part II
0.08428194539310097
Vozvrashchenie
0.0822860625457564
Kagemusha
0.08027641672229194
Ah-ga-ssi
0.07608474860566156
Green Book
0.07143335250769829
Saving Private Ryan
0.06926631344056501

In [108]:
c=tfidf.fit_transform(dj['Overview'],dj['Director'])
cos_simd=linear_kernel(c,c)

In [109]:
def movie_recomendatio(title, cos_simd=cos_simd):
  idx=indices[title]
  scores=pd.Series(cos_simd[idx]).sort_values(ascending=False)
  topsc=list(scores.iloc[1:11].index)
  for i in topsc:
    print(df['Series_Title'][i])
    print(scores[i])

In [111]:
movie_recomendatio("The Godfather")

Le notti di Cabiria
0.136293409112584
La planète sauvage
0.13053131303797622
Les choristes
0.0920771033430525
The Last Picture Show
0.08831820773491682
The Godfather: Part II
0.08428194539310097
Vozvrashchenie
0.08228606254575639
Kagemusha
0.08027641672229194
Ah-ga-ssi
0.07608474860566154
Green Book
0.07143335250769829
Saving Private Ryan
0.069266313440565